.container
  padding 20px
  .main 
    // background-color #000
    // border: 1px solid #474747
    .play_group
      display flex
      justify-content flex-start
      align-items center
      padding 0 20px
      height 45px
      background-color rgba(0, 0, 0, .5)
      button + button 
        margin-left 16px
      margin-bottom 10px
    .charts_box 
      padding 20px
      background-color rgba(0, 0, 0, .5)